main{
    margin-top: 60px;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* bottom: 0; */
    height: 60px;
    background-color: rgb(38, 70, 83);
    z-index: 100;
    /* box-shadow: 0px 0px 50px gainsboro; */
}
.header-icon{
    width: 40px;
    margin: 8px 15px;
    position: absolute;
}

.title {
    text-align: left;
    position: absolute;
    left: 20px;
    padding: 0;
    margin: 14px 30px 0px;
    color: rgb(244, 162, 97);
}

nav {
    position: absolute;
    right: 0;
    margin: 14px 30px 0px;
}

a {
    color: rgb(244, 162, 97);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

#jumbotron {
    width: 100%;
}

.jumbotron{
    padding: 20px;
    text-align: center;
    background-color: rgb(38, 70, 83);
}

.header-flex {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.jumbotron-title {
    color: rgb (224, 251, 252);
    font-size: 30px;
    padding-bottom: 20px;
}

.jumbotron-text {
    color: rgb(224, 251, 252);
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 8px solid rgb(244, 162, 97);
}

.jumbotron-img {
    height: 300px;
}

.mini-text-flex {
    display: flex;
    justify-content: flex-start;
}

.mini-text {
    color: rgb(224, 251, 252);
    text-align: left;
    margin-right: 5px;
}

.fa-hand-point-up {
    color: aliceblue;
    font-size: 20px;
}

.icon-down {
    display: none;
}

.fa-hand-point-down {
    color: aliceblue;
    font-size: 20px;
}

button {
    background-color: rgb(38, 70, 83);
    border-style: none;
}

button:hover {
    cursor: pointer;
    transform: translateY (5px);
}

.main-content {
    margin: 10%;
}

.content {
    /* background-color: white; */
    margin-left: 10%;
    /* margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px gainsboro; */
    max-width: 70%;
}

article {
    max-width: 100%;
}

.article-title {
    text-align: center; 
    font-size: 30px;
    margin: 50px 0 30px;
}

.project {
    margin: 10px 30px;
    border-bottom: 10px solid #e76f51;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px gainsboro;
}

.project-title {
    color: #e76f51;
    font-weight: bold;
}

.maps {
    padding: 10px;
    text-align: center;
    display: flex;
    margin-right: auto;
}

iframe {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    box-shadow: 0 0 40px gainsboro;
}

.contact-container {
    display: flex;
    justify-content: flex-start;
}

.illustration-img {
    margin: 0px;
    width: 800px
}

.contact {
    display: inline-block;
    margin: 10px 30px;
    text-align: center;
}

.profile-contact-img {
    width: 200px;
}