main{
    margin-top: 60px;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* bottom: 0; */
    height: 60px;
    background-color: rgb(38, 70, 83);
    z-index: 100;
    /* box-shadow: 0px 0px 50px gainsboro; */
}
.header-icon{
    width: 40px;
    margin: 8px 15px;
    position: absolute;
}

.title {
    text-align: left;
    position: absolute;
    left: 20px;
    padding: 0;
    margin: 14px 30px 0px;
    color: rgb(244, 162, 97);
}

nav {
    position: absolute;
    right: 0;
    margin: 14px 30px 0px;
}

a {
    color: rgb(244, 162, 97);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

#jumbotron {
    width: 100%;
}

.jumbotron{
    padding: 20px;
    text-align: center;
    background-color: rgb(38, 70, 83);
}

.header-flex {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.jumbotron-title {
    color: rgb (224, 251, 252);
    font-size: 30px;
    padding-bottom: 20px;
}

.jumbotron-text {
    color: rgb(224, 251, 252);
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 8px solid rgb(244, 162, 97);
}

.jumbotron-img {
    height: 300px;
}

.mini-text-flex {
    display: flex;
    justify-content: flex-start;
}

.mini-text {
    color: rgb(224, 251, 252);
    text-align: left;
    margin-right: 5px;
}

.fa-hand-point-up {
    color: aliceblue;
    font-size: 20px;
}

.icon-down {
    display: none;
}

.fa-hand-point-down {
    color: aliceblue;
    font-size: 20px;
}

button {
    background-color: rgb(38, 70, 83);
    border-style: none;
}

button:hover {
    cursor: pointer;
    transform: translateY (5px);
}

.main-content {
    margin: 10%;
}

.content {
    /* background-color: white; */
    margin-left: 10%;
    /* margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px gainsboro; */
    max-width: 70%;
}

article {
    max-width: 100%;
}

.article-title {
    text-align: center; 
    font-size: 30px;
    margin: 50px 0 30px;
}

.project {
    margin: 10px 30px;
    border-bottom: 10px solid #e76f51;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px gainsboro;
}

.project-title {
    color: #e76f51;
    font-weight: bold;
}

.maps {
    padding: 10px;
    text-align: center;
    display: flex;
    margin-right: auto;
}

iframe {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    box-shadow: 0 0 40px gainsboro;
}

.contact-container {
    display: flex;
    justify-content: flex-start;
}

.illustration {
    flex: 1;
}

.illustration-img {
    margin: 0px;
    width: 100%
}

.contact {
    display: inline-block;
    margin: 10px 30px;
    text-align: center;
    flex: 1;
}

.profile-contact-img {
    width: 200px;
}

.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.icon {
    margin-right: 6px;
}
.fa-user, .fa-map-marker-alt, .fa-envelope-open, .fa-comment {
    font-size: 27px;
}

.form-label {
    position: absolute;
    left: 10px;
    top: 10px;
}

.form-input {
    position: relative;
    width: 100%;
    border-bottom: 1px solid grey;
    outline: none;
    height: 48px;
    margin-bottom: 15px;
    padding: 0;
}

.input-item {
    position: absolute;
    top: 0;
    left: 0;
    border-style: none;
    outline: none; 
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-size: 15px;
    height: 100%;
}

.textarea-container {
    display: flex;
    justify-content: center;
}

.form-textarea {
    position: relative;
}

.textarea {
    border-style: none;
    border-bottom: 1px solid grey;
    outline: none;
    margin-top: 10px;
}

.submit {
    border-style: none;
    border-radius: 25px;
    color: aliceblue;
    background-color: rgb(38, 70, 83);
    margin: 5px;
    cursor: pointer;
}

.input-item:focus + .form-label {
    top: -5px;
    left: -2px;
    font-size: 10px;
}
.textarea:focus + .form-label {
    top: -5px;
    left: -2px;
    font-size: 10px;
}

.input-item:not(:placeholder-shown).input-item:not(:focus) + .form-label {
    top: -2px;
    left: -2px;
    font-size: 10px;
    color: rgb(138, 130, 130);
}

.submit {
    padding: 10px 75px;  
}

.modal-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.411);
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s;
}

.show {
    visibility: visible;
    opacity: 1;
}

.modal {
    width: 600px;
    height: 400px;
    position: relative;
    background-color: white;
    padding: 35px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal h3 {
    margin: 0;
    padding: 0;
    font-size: 30px;
}

.modal p {
    margin: 20px 0;
    padding: 0;
    font-size: 15px;
}

.modal img {
    display: block;
    margin: 0 auto 0 auto;
    padding: 0;
    width: 300px;
}

